<h2>PHP Technical Test</h2>
<h3>Calculator 2.0</h3>

<p>Picture yourself working for an imaginary company which makes crazy apps. As a proof of concept for a potential new product you need to create a simple web based Emoji Calculator which supports the following initial set of calculations:</p>

<ul>
    <li>👽 Addition (Alien U+1F47D)</li>
    <li>💀 Subtraction (Skull U+1F480)</li>
    <li>👻 Multiplication (Ghost U+1F47B)</li>
    <li>😱 Division (Scream U+1F631)</li>
</ul>
<h4>Acceptance Criteria</h4>
<ul>
<li>The app should be built using PHP 7.
    <li>For ease of testing the app should be able to be run using PHP’s built in webserver.</li>
    <li>You MUST include a readme file explaining your approach and steps required to run your app.</li>
    <li>A minimum UX should include a form with two text fields for operands and a dropdown list for the operator.</li>
    <li>The answer should be calculated “server side” and returned via ajax (Just use a basic jQuery function, we are not assessing JavaScript).</li>
    <li>The imaginary management reserves the right to choose different symbols without warning! ;-)</li>
</ul>
